<!-- Styling for teppy.rocks site advertisement -->
<style type="text/css">
  footer {
    justify-content: space-around;
    background: #000; /*#07252d*/
    height: 50px;
    bottom: 0;
    color: #fff;
    isolation: isolate;
  }

  footer span {
    color: #333;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    animation: footerAnimation 1.2s linear infinite;
  }
  footer span:nth-child(1) {
    animation-delay: 0s;
  }
  footer span:nth-child(2) {
    animation-delay: 0.1s;
  }
  footer span:nth-child(3) {
    animation-delay: 0.2s;
  }
  footer span:nth-child(4) {
    animation-delay: 0.3s;
  }
  footer span:nth-child(5) {
    animation-delay: 0.4s;
  }
  footer span:nth-child(6) {
    animation-delay: 0.5s;
  }
  footer span:nth-child(7) {
    animation-delay: 0.6s;
  }
  footer span:nth-child(8) {
    animation-delay: 0.7s;
  }
  footer span:nth-child(9) {
    animation-delay: 0.8s;
  }
  footer span:nth-child(10) {
    animation-delay: 0.9s;
  }
  footer span:nth-child(11) {
    animation-delay: 1s;
  }


    @keyframes footerAnimation {
      0%, 80%
      {
        color: #f2f2f2,
        box-shadow: none;

      }
      100%
      {
        color: red;
        text-shadow: 0 0 10px #fff,
              0 0 20px #fff,
              0 0 40px #fff,
              0 0 80px #fff,
              0 0 120px #fff,
              0 0 160px #fff,
        
      }
    }
    small {
      font-size: 10px;
    }
    .dev_social_link{
    color: white;
    text-decoration: none;
  }
</style>

<footer class="bg-dark">
    <div class="float-right d-none d-sm-block mr-3">
       <!-- If you wish to join my old-school, Facebook-like, micro-community, please do. Let's help each other out! It's this actual link: -->
      <i class="text-muted">
          <small>Join my micro-community: <b><a href="https://fakebook.teppy.rocks" target="_blank">Fakebook</a></b> (a subdomain of): </small>
        </i>
        <a href="https://teppy.rocks" target="_blank">
          <i>
            <span>t</span>
            <span>e</span>
            <span>p</span>
            <span>p</span>
            <span>y</span>
            <span>.</span>
            <span>r</span>
            <span>o</span>
            <span>c</span>
            <span>k</span>
            <span>s</span>
          </i>
        </a>
    </div>
</footer>


