<style type="text/css">
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


	html {
		box-sizing: border-box;
		scroll-behavior: smooth;
		background-color: #fbeee1;
	}
	body {
		background-color: #fbeee1;
	}
	*, *:before *:after {
		box-sizing: inherit;
		margin: 0;
		padding: 0;
		font-family: 'Poppins', sans-serif;
	}
	a {
        text-decoration: none;
    }

    .announcementBox{
    	padding: 10px;
    	margin: 2px;
    	border-radius: 20px;
    	border-top: solid 2px black;
    	border-bottom: solid 2px black;
    	box-shadow: 3px;
    	background-color: #fbeee1;
    }

    .card {
    	border-radius: 20px;
    }

	/*this can be removed tho the toggle button will be placed at the back and will be kind of hard to click on*/
	.darkmode-layer, .darkmode-toggle {
	  z-index: 10;
	}

	/* modified bootstrap's bg-color schemes a little so they won't have just solid colors */
	.bg-black .bg-dark{
		background-color: #3c3744;
	}
</style>