{% extends 'home/index.html' %
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<form method="POST">
  <!-- default tong POST // required ung csrf token sa baba-->
  {% csrf_token %}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Reset Password</legend>
    <!-- this is the form created in views.register -->
    {{ form|crispy }}
    <!-- filter/styling for the forms -->
    <!-- to be able to add fields to the form, we need a separate file: form.py (root directory of the app (user)) -->
  </fieldset>

  <div class="form-group">
    <button class="btn btn-outline-danger" type="submit">
      Reset Password
    </button>
  </div>
</form>

{% endblock content %}

