<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      
      <span class="text-muted">
        <small>teppy</small>
          <a class="fa fa-github dev_social_link ml-2 m-1" href="https://github.com/tepong32" target="_blank"></a>
          <a class="fa fa-facebook dev_social_link m-1" href="https://facebook.com/tepong32" target="_blank"></a>
          <a class="fa fa-twitter dev_social_link m-1" href="https://twitter.com/tepongdgreat" target="_blank"></a>
          <a class="fa fa-linkedin-square dev_social_link m-1" href="https://linkedin.com/in/cristinoagapitojr" target="_blank"></a>
      </span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h4 class="text-white">
      <a href="/">Abutchikikz</a>
    </h4>
  </nav>
</div>