{% load wagtailfontawesome %}
{% fontawesome_css %}

<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent" >
    <div class="bg-dark p-4">
      <!-- teppy profile links -->
      <span class="text-muted">
        <small><u>profiles:</u></small>
          <a class="fa fa-github dev_social_link ml-2 m-1" href="https://github.com/tepong32" target="_blank"></a>
          <a class="fa fa-facebook dev_social_link m-1" href="https://facebook.com/tepong32" target="_blank"></a>
          <a class="fa fa-twitter dev_social_link m-1" href="https://twitter.com/tepongdgreat" target="_blank"></a>
          <a class="fa fa-linkedin-square dev_social_link m-1" href="https://linkedin.com/in/cristinoagapitojr" target="_blank"></a>
      </span>

      ||
      <!-- tech stack links -->
      <span class="text-muted mr-1">
        <small><u>tech stacks:</u></small>
          <a class="fa fa-python dev_social_link ml-2 m-1" href="#" target="_blank" title="python"></a>
          <!-- <a class="fa fa-python-django dev_social_link m-1" href="#" target="_blank"></a> -->
          <a class="fa fa-html5 dev_social_link m-1" href="#" target="_blank" title="html5"></a>
          <a class="fa fa-css3 dev_social_link m-1" href="#" target="_blank" title="css3"></a>
          <a class="fa fa-git dev_social_link m-1" href="#" target="_blank" title="git"></a>
          <a class="fa fa-renpy dev_social_link m-1" href="#" target="_blank" title="renpy"></a>
          <a class="fa fa-kivy dev_social_link m-1" href="#" target="_blank" title="kivy"></a>



      </span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <span>
        <ul style="list-style: none; display: flex;">
          <li class="mr-1 ml-1"><a href="/blog">blogs </a></li>
          <li> | </li>
          <li class="mr-1 ml-1"><a href="#">works</a></li>
        </ul>
      </span>
    <h4 class="text-white">
      <a href="/">Abutchikikz</a>
    </h4>
  </nav>
</div>